In [19]:
import pandas as pd
import numpy as np
df = pd.read_csv('lab2.csv',encoding='cp1251')
print(df)

     номер     пол  возраст  доход  рейтинг трат
0      1.0    Male     19.0   15.0          39.0
1      2.0    Male     21.0   15.0          81.0
2      3.0  Female     20.0   16.0           6.0
3      4.0  Female     23.0   16.0          77.0
4      5.0  Female     31.0   17.0          40.0
..     ...     ...      ...    ...           ...
195  195.0  Female     47.0  120.0          16.0
196  197.0  Female     45.0  126.0          28.0
197  198.0    Male     32.0  126.0          74.0
198  199.0    Male     32.0  137.0          18.0
199  200.0    Male     30.0  137.0          83.0

[200 rows x 5 columns]

In [20]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   номер         199 non-null    float64
 1   пол           199 non-null    object
 2   возраст       197 non-null    float64
 3   доход         197 non-null    float64
 4   рейтинг трат  199 non-null    float64
dtypes: float64(4), object(1)
memory usage: 7.9+ KB
None

In [21]:
col_name = ['id', 'gender', 'age', 'income','spending_rating' ]
df = df.set_axis(col_name, axis = 'columns')
df.to_csv('processed_1.csv', index=False, header=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               199 non-null    float64
 1   gender           199 non-null    object
 2   age              197 non-null    float64
 3   income           197 non-null    float64
 4   spending_rating  199 non-null    float64
dtypes: float64(4), object(1)
memory usage: 7.9+ KB

In [22]:
print(df[df.id.isnull()])

    id gender  age  income  spending_rating
19 NaN    NaN  NaN     NaN              NaN

In [23]:
df.dropna(subset = ['id'], inplace=True)

In [24]:
print(df[df['age'].isnull() == True])

      id  gender  age  income  spending_rating
7    8.0  Female  NaN    18.0             94.0
14  15.0    Male  NaN    20.0             13.0

In [25]:
avg_ages_by_g = [round(df[(df.gender == x) & (df.age.isna() == False)].age.mean()) for x in df.gender.unique()]
avg_ages_by_g

[39, 39]

In [26]:
df.gender.unique()

array(['Male', 'Female'], dtype=object)

In [27]:
df.loc[df.id.isin([8.0, 15.0])]

      id  gender  age  income  spending_rating
7    8.0  Female  NaN    18.0             94.0
14  15.0    Male  NaN    20.0             13.0

In [28]:
df.loc[(df.gender == 'Male') & (df.age.isna()), 'age'] = avg_ages_by_g[0]
df.loc[(df.gender == 'Female') & (df.age.isna()), 'age'] = avg_ages_by_g[1]

In [29]:
df.loc[df.id.isin([8.0, 15.0])]

      id  gender   age  income  spending_rating
7    8.0  Female  39.0    18.0             94.0
14  15.0    Male  39.0    20.0             13.0

In [30]:
print(df[df.duplicated() == True])
print(df.duplicated().sum())

        id  gender   age  income  spending_rating
195  195.0  Female  47.0   120.0             16.0
1

In [31]:
df = df.drop_duplicates().reset_index(drop=True)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               198 non-null    float64
 1   gender           198 non-null    object
 2   age              198 non-null    float64
 3   income           196 non-null    float64
 4   spending_rating  198 non-null    float64
dtypes: float64(4), object(1)
memory usage: 7.9+ KB

In [42]:
avg_income_by_g = [round(df[(df.gender == x) & (df.income.isna() == False)].income.mean()) for x in df.gender.unique()]
df.loc[(df.gender == 'Male') & (df.income.isna()), 'income'] = avg_income_by_g[0]
df.loc[(df.gender == 'Female') & (df.income.isna()), 'income'] = avg_income_by_g[1]

In [43]:
df.to_csv("proced1.csv", index=False, header=True)
df = pd.read_csv("proced1.csv", encoding='cp1251')
print(df.duplicated().sum())
df.info()

0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               198 non-null    float64
 1   gender           198 non-null    object
 2   age              198 non-null    float64
 3   income           198 non-null    float64
 4   spending_rating  198 non-null    float64
dtypes: float64(4), object(1)
memory usage: 7.9+ KB

### Задание

* 1.Найти датасет содержавший поля с разными типами данных; 
* 2.Загрузить датасет в Pandas DataFrame и посмотреть сводную информацию о датасете;

In [44]:
wines_df = pd.read_csv("winequality-red.csv", sep=";")

wines_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

* 3. Переименовать одну или все колонки;

In [45]:
wine_col_names = [x.replace(" ", "_") for x in wines_df.columns]
print(wine_col_names)

wines_df = wines_df.set_axis(wine_col_names, axis = 'columns')

['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar', 'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density', 'pH', 'sulphates', 'alcohol', 'quality']

In [46]:
wines_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed_acidity         1599 non-null   float64
 1   volatile_acidity      1599 non-null   float64
 2   citric_acid           1599 non-null   float64
 3   residual_sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free_sulfur_dioxide   1599 non-null   float64
 6   total_sulfur_dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [47]:
wines_df.quality.describe()

count    1599.000000
mean        5.636023
std         0.807569
min         3.000000
25%         5.000000
50%         6.000000
75%         6.000000
max         8.000000
Name: quality, dtype: float64

* 4. Определить пустые строки и удалить;

In [48]:
wines_df.dropna(how='all')

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

 * 5. Определить пустые ячейки, вывести на экран и заменить средним значением колонки, средним значением с учетом параметра другой колонки.

In [49]:
print(wines_df.isna().sum())
# нет пропусков

fixed_acidity           0
volatile_acidity        0
citric_acid             0
residual_sugar          0
chlorides               0
free_sulfur_dioxide     0
total_sulfur_dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [50]:
avg_wines_values = {}
for col in wine_col_names:
    avg_wines_values[col] = wines_df[f"{col}"].mean()

del avg_wines_values["total_sulfur_dioxide"]

# сделаем дав значения для total_sulfur_dioxide в зависимости от quality с порогом 5
avg_sulfur_dioxide = [0, 0]
avg_sulfur_dioxide[0] = wines_df[wines_df.quality < 5].total_sulfur_dioxide.mean()
avg_sulfur_dioxide[1] = wines_df[wines_df.quality >= 5].total_sulfur_dioxide.mean()
print(avg_wines_values)
print(avg_sulfur_dioxide)

{'fixed_acidity': 8.31963727329581, 'volatile_acidity': 0.5278205128205128, 'citric_acid': 0.2709756097560976, 'residual_sugar': 2.53880550343965, 'chlorides': 0.08746654158849279, 'free_sulfur_dioxide': 15.874921826141339, 'density': 0.9967466791744841, 'pH': 3.3111131957473416, 'sulphates': 0.6581488430268917, 'alcohol': 10.422983114446529, 'quality': 5.6360225140712945}
[34.44444444444444, 46.9609375]

In [51]:
for k in avg_wines_values:

    wines_df.loc[(wines_df[f"{k}"].isna() == True), f'{k}'] = avg_wines_values[k]

C:\Users\Владелец\AppData\Local\Temp\ipykernel_3032\2567612476.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '5.6360225140712945' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  wines_df.loc[(wines_df[f"{k}"].isna() == True), f'{k}'] = avg_wines_values[k]

* 6. Найти дубликаты, вывести на экран и удалить;

In [52]:
print(wines_df[wines_df.duplicated() == True])
print(wines_df.duplicated().sum())

df_wines = wines_df.drop_duplicates().reset_index(drop=True)

      fixed_acidity  volatile_acidity  citric_acid  residual_sugar  chlorides  \
4               7.4             0.700         0.00            1.90      0.076
11              7.5             0.500         0.36            6.10      0.071
27              7.9             0.430         0.21            1.60      0.106
40              7.3             0.450         0.36            5.90      0.074
65              7.2             0.725         0.05            4.65      0.086
...             ...               ...          ...             ...        ...
1563            7.2             0.695         0.13            2.00      0.076
1564            7.2             0.695         0.13            2.00      0.076
1567            7.2             0.695         0.13            2.00      0.076
1581            6.2             0.560         0.09            1.70      0.053
1596            6.3             0.510         0.13            2.30      0.076

      free_sulfur_dioxide  total_sulfur_dioxide  density    pH  sulphates  \
4                    11.0                  34.0  0.99780  3.51       0.56
11                   17.0                 102.0  0.99780  3.35       0.80
27                   10.0                  37.0  0.99660  3.17       0.91
40                   12.0                  87.0  0.99780  3.33       0.83
65                    4.0                  11.0  0.99620  3.41       0.39
...                   ...                   ...      ...   ...        ...
1563                 12.0                  20.0  0.99546  3.29       0.54
1564                 12.0                  20.0  0.99546  3.29       0.54
1567                 12.0                  20.0  0.99546  3.29       0.54
1581                 24.0                  32.0  0.99402  3.54       0.60
1596                 29.0                  40.0  0.99574  3.42       0.75

      alcohol  quality
4         9.4      5.0
11       10.5      5.0
27        9.5      5.0
40       10.5      5.0
65       10.9      5.0
...       ...      ...
1563     10.1      5.0
1564     10.1      5.0
1567     10.1      5.0
1581     11.3      5.0
1596     11.0      6.0

[240 rows x 12 columns]
240

In [53]:
wines_df.to_csv("prep_red_wine.csv", index=False, header=True)