In [119]:
import pandas as pd
import numpy as np
df = pd.read_csv('lab2.csv',encoding='cp1251')
print(df)

     номер     пол  возраст  доход  рейтинг трат
0      1.0    Male     19.0   15.0          39.0
1      2.0    Male     21.0   15.0          81.0
2      3.0  Female     20.0   16.0           6.0
3      4.0  Female     23.0   16.0          77.0
4      5.0  Female     31.0   17.0          40.0
..     ...     ...      ...    ...           ...
195  195.0  Female     47.0  120.0          16.0
196  197.0  Female     45.0  126.0          28.0
197  198.0    Male     32.0  126.0          74.0
198  199.0    Male     32.0  137.0          18.0
199  200.0    Male     30.0  137.0          83.0

[200 rows x 5 columns]

In [120]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   номер         199 non-null    float64
 1   пол           199 non-null    object
 2   возраст       197 non-null    float64
 3   доход         197 non-null    float64
 4   рейтинг трат  199 non-null    float64
dtypes: float64(4), object(1)
memory usage: 7.9+ KB
None

In [121]:
col_name = ['id', 'gender', 'age', 'income','spending_rating' ]
df = df.set_axis(col_name, axis = 'columns')
df.to_csv('processed_1.csv', index=False, header=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               199 non-null    float64
 1   gender           199 non-null    object
 2   age              197 non-null    float64
 3   income           197 non-null    float64
 4   spending_rating  199 non-null    float64
dtypes: float64(4), object(1)
memory usage: 7.9+ KB

In [122]:
print(df.age.unique())

[19. 21. 20. 23. 31. 35. nan 64. 67. 58. 24. 22. 46. 54. 29. 45. 40. 60.
 53. 18. 49. 42. 30. 36. 65. 48. 50. 27. 33. 59. 47. 51. 69. 70. 63. 43.
 68. 32. 26. 57. 38. 55. 34. 66. 39. 25. 44. 28. 37. 56. 52. 41.]

In [123]:
print(df[df.id.isnull()])

    id gender  age  income  spending_rating
19 NaN    NaN  NaN     NaN              NaN

In [124]:
df.dropna(subset = ['id'], inplace=True)

In [125]:
print(df[df['age'].isnull() == True])

      id  gender  age  income  spending_rating
7    8.0  Female  NaN    18.0             94.0
14  15.0    Male  NaN    20.0             13.0

In [126]:
avg_ages_by_g = [round(df[(df.gender == x) & (df.age is not None)].age.mean()) for x in df.gender.unique()]
[df[df.gender == x].age.fillna(avg_ages_by_g[i], inplace=True) for i, x in enumerate(df.gender.unique())]

C:\Users\Владелец\AppData\Local\Temp\ipykernel_4788\1445214615.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  [df[df.gender == x].age.fillna(avg_ages_by_g[i], inplace=True) for i, x in enumerate(df.gender.unique())]

[None, None]

In [127]:
df.loc[df.id.isin([8.0, 15.0])]

      id  gender  age  income  spending_rating
7    8.0  Female  NaN    18.0             94.0
14  15.0    Male  NaN    20.0             13.0